api.findcommonground.app {
    basicauth {
		dembrane $2a$14$CUBGav0EbkCzwTlffbvyU.KdGgZ2SVN4tEAuLOfn1/N6dRJKAhDxm
	}
    reverse_proxy api-server:8000
}

admin.findcommonground.app {
    reverse_proxy dashboard-frontend:5173
}

participant.findcommonground.app {
    reverse_proxy participant-frontend:5173
}