PUBLIC_URL=http://localhost:8055

PORT=8055
SECRET=134985uy13nfalksjdjhfalskdjf
ADMIN_EMAIL=admin@dembrane.com
ADMIN_PASSWORD=admin
WEBSOCKETS_ENABLED=true
DB_CLIENT=postgres
DB_HOST=postgres
DB_PORT=5432
DB_USER=dembrane
DB_PASSWORD=dembrane
DB_DATABASE=dembrane
TELEMETRY=false

CORS_ENABLED=true
CORS_ORIGIN=http://localhost:5173
CORS_CREDENTIALS=true

SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAME_SITE=lax

# AUTH_PROVIDERS=google

# AUTH_GITHUB_DRIVER=oauth2
# AUTH_GITHUB_CLIENT_ID=
# AUTH_GITHUB_CLIENT_SECRET=
# AUTH_GITHUB_AUTHORIZE_URL=https://github.com/login/oauth/authorize
# AUTH_GITHUB_ACCESS_URL=https://github.com/login/oauth/access_token
# AUTH_GITHUB_PROFILE_URL=https://api.github.com/user
# AUTH_GITHUB_DEFAULT_ROLE_ID=

# AUTH_GOOGLE_DRIVER=openid
# AUTH_GOOGLE_CLIENT_ID=
# AUTH_GOOGLE_CLIENT_SECRET=
# AUTH_GOOGLE_ISSUER_URL=https://accounts.google.com
# AUTH_GOOGLE_IDENTIFIER_KEY=email
# AUTH_GOOGLE_FIRST_NAME_KEY=given_name
# AUTH_GOOGLE_LAST_NAME_KEY=family_name
# AUTH_GOOGLE_ICON=google
# AUTH_GOOGLE_LABEL=Google
# AUTH_GOOGLE_ALLOW_PUBLIC_REGISTRATION=true
# AUTH_GOOGLE_DEFAULT_ROLE_ID=

# AUTH_OUTSETA_DRIVER=openid
# AUTH_OUTSETA_SCOPE=openid email profile outseta
# AUTH_OUTSETA_CLIENT_ID=
# AUTH_OUTSETA_CLIENT_SECRET=
# AUTH_OUTSETA_ISSUER_URL=https://dembrane.outseta.com/.well-known/openid-configuration
# AUTH_OUTSETA_IDENTIFIER_KEY=email
# AUTH_OUTSETA_FIRST_NAME_KEY=given_name
# AUTH_OUTSETA_LAST_NAME_KEY=family_name
# AUTH_OUTSETA_LABEL=Outseta
# AUTH_OUTSETA_ALLOW_PUBLIC_REGISTRATION=true
# AUTH_OUTSETA_DEFAULT_ROLE_ID=
# AUTH_OUTSETA_REDIRECT_ALLOW_LIST=http://localhost:5173/projects/home
